body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#page-container {
    display: flex;
    flex-flow: row;
}

.sidebar {
    width: 250px;
    transition: width 0.3s;
    background-color: #333;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 50px;
}

.toggle-btn {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

#workspace {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}

textarea {
    width: 50%;
    height: 100%;
    font-family: monospace;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

#preview {
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    overflow-y: auto;
}
